@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

$bg: #141414;
$color: #d4d4d4;

body{
  background: $bg;
  font-family: 'Montserrat Alternates', sans-serif;
  color: $color;
}